.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img {
  width: 600px;
  height: auto;
}

h3, img, p {
  padding: 20px;
}

svg {
  width: 100px;
  height: auto;
  padding: 20px;
  margin-top: 20px;
}

.list {
  width: 800px;
}

@media screen and (max-width: 600px) {
  .list {
    width: 500px;
  }
}