/* Here will be funky loading screen */

main {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}


h3 {
    font-style: italic;
    font-weight: 500;
    font-size: 3rem;
    line-height: 48px;
    color: #fff;
}

.submit {
    text-align: center;
    vertical-align: middle;
    padding: 0.67em 0.67em;
    cursor: pointer;
    border: 2px solid #D83000;
    border-radius: 0.3em;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.195em;
    width: 200px;
    background-color: #fff;
    color: #D83000;
    margin-top: 50px;
}

.submit:hover {
    background-color: #D83000;
    color: #fff;
}

svg {
    width: 100px;
    height: auto;
    padding: 20px;
    margin-top: 20px;
}



