/* Here will be funky loading screen */

.main-footer {
    display: none;
}

.top-nav-container {
    display: none;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

body {
    background-color: #D83000;
    animation: fill 3s;
}

#main-text {
    animation: appear 10s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-style: italic;
    font-weight: 500;
    font-size: 3rem;
    line-height: 48px;
    color: #fff;
}

#submit {
    text-align: center;
    vertical-align: middle;
    padding: 0.67em 0.67em;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 0.3em;
    font-weight: 600;
    background-color: #D83000;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.195em;
    margin-top: 20px;
    width: 200px;
}

a {
    color: #fff;
}

#container-logo {
    margin-left: auto;
    margin-right: 2em;
}

#logo {
    height: 200px;
    width: auto;
    top: 50px;
    left: 1100px;
    animation: appear 10s;
}


#jam-jar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

#lid {
    width: 100px;
    height: auto;
    position: relative;
    align-items: center;
    animation: jam-lid 3s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
}

#base {
    width: 110px;
    height: auto;
    align-items: center;
}

@keyframes jam-lid {
    0% {
        width: 100px;
        height: auto;
        align-items: center;
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        width: 100px;
        height: auto;
        align-items: center;
        
    }
}

@keyframes fill {
    0% {
        background-color: #fff;
    }

    100% {
        background-color: #D83000;
    }
}

@keyframes appear {
    0% {
       opacity: 0;
    }

    70% {
        opacity: 0;
    }
    
    100% {
        opacity: 100;
    }
}

@media screen and (max-width: 600px) {
    #main-text {
        animation: appear 10s;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    #container-logo {
        margin-left: auto;
        margin-right: 2em;
    }
    
    #logo {
        height: 100px;
        width: auto;
        animation: appear 10s;
    }

    h3 {
        font-size: 2.5rem;
    }

}