/* Main style sheet for all pages */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #272727;
  /*background-color: #fffcfb;*/
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}


/* FOOTER */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.main-footer {
  background-color: #2e294e;
  color: #2e294e;
  padding: 0.25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
  margin: 1em;
}

.footer-nav li {
  padding: 0 0.5em;
  color: white;
}

.footer-nav a {
  color: white;
  font-weight: 500;
  font-size: 1.2em;
}

.brand-name {
  text-align: center;
  margin: 0;
  font-size: 1.2em;
  font-weight: 500;
  color: white;
}

/* MOBILE STYLES */

p {
  font-size: 16px;
}



h2 {
  font-weight: 800;
  color: #D83000;
  /* desktop font-size: 40px;*/
  font-size: 24px;
  padding: 30px 0px 10px 0px;
}


/* HEADER */

@media screen and (max-width: 899px) {
.top-nav {
  font-size: 18px;
  padding-bottom: 10px;
}

.menu {
  list-style-type: none;
}

.menu.active {
  display: flex;
}

js-menu.active {
  display: flex;
  width: 100%;
}

.menu li {
  text-align: center;
  margin: 15px auto;
  font-size: 20px;
  padding: 5px;
}

.nav-item a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  transform: scale(1.8);
  cursor: pointer;
}

.nav-item {
  display: none;
}

.nav-item.active {
  display: flex;
  width: 100%;
}
}

/*.active {
  display: block;
}*/



/* DESKTOP STYLES */

@media screen and (min-width: 900px) {
  h2 {
    font-weight: 800;
    color: #D83000;
    font-size: 40px;
    padding: 40px 0px 20px 0px;
  }

  p {
    font-size: 20px;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;    
    padding-bottom: 0;
    /*height: 70px;*/
    align-items: center;
  }

  .menu {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    
  }

  .top-nav li {
    margin: 20px;
  }

  .logo {
    margin-top: 20px;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover, .nav-item:hover {
    text-decoration: underline;
  }
  
}
