/* Main style sheet for all pages */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #272727;
  background-color: #fffcfb;
  padding: 0;
  margin: 0;
}

/* MOBILE STYLES */

p {
  font-size: 16px;
}

h2 {
  font-weight: 800;
  color: #D83000;
  /* desktop font-size: 40px;*/
  font-size: 24px;
  padding: 30px 0px 10px 30px;
}

.top-nav {
  font-size: 18px;
  padding-bottom: 10px;
}

.menu {
  list-style-type: none;
  display: none;
}

.menu li {
  text-align: center;
  margin: 15px auto;
}

.nav-item a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 25px;
  right: 25px;
  transform: scale(1.8);
  cursor: pointer;
}

.active {
  display: block;
}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {
  h2 {
    font-weight: 800;
    color: #D83000;
    font-size: 40px;
    padding: 40px 0px 20px 30px;
  }

  p {
    font-size: 20px;
  }

  .top-nav {
    display: flex;
    justify-content: space-between;    
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .menu {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    
  }

  .top-nav li {
    margin: 20px;
  }

  .logo {
    margin-top: 20px;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover, .nav-item:hover {
    text-decoration: underline;
  }
}

