* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  color: rgb(26, 26, 26);
  font-family: "open sans", sans-serif;
}

#top-nav {
  background-color: rgb(249, 60, 98);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

#top-nav .menu-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#top-nav a {
  text-decoration: none;
  color: aliceblue;
  font-size: 24px;
}

#top-nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.item {
  list-style-type: none;
  padding: 10px;
  width: 100%;
  text-align: start;
  /*align-items: center;*/
}

@media screen and (max-width: 600px) {
  #top-nav a {
    font-size: 20px;
  }
  .menu-bar {
    flex-direction: column;
  }

  .item {
    justify-content: center;
  }
}
